body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1; /* Assicura che la mappa stia sotto le UI aggiunte dopo */
}
